.expandContainer {
  position: absolute;
  left: 50%;
  top: 110%;
  pointer-events: none;
}

.expand {
  position: relative;
  z-index: 2;
  overflow-y: scroll;
  left: -50%;
  pointer-events: auto;
}

.mainColor:hover .plus,
.mainColor:active .plus {
  display: block;
}
